trigger:
- none

pool: Default

stages:

# ================= BUILD / PRECHECK STAGE =================
- stage: Build
  displayName: "Terraform Precheck"
  jobs:
  - job: precheck
    displayName: "Terraform Init & Plan"
    steps:

    - task: TerraformTask@5
      displayName: "Terraform Init"
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
        backendAzureRmUseEntraIdForAuthentication: false
        backendServiceArm: 'myconnection'
        backendAzureRmResourceGroupName: 'rg-mahesh-11'
        backendAzureRmStorageAccountName: 'maheshstg12'
        backendAzureRmContainerName: 'mahesh'
        backendAzureRmKey: 'dev.tfstate'

    - task: TerraformTask@5
      displayName: "Terraform Plan"
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
        environmentServiceNameAzureRM: 'myconnection'


# ================= SCANNING STAGE =================
- stage: Scanning
  displayName: "Security Scanning"
  dependsOn: Build
  condition: succeeded()
  jobs:
  - job: tfscan
    displayName: "Terraform Security Scan"
    steps:

    - task: tfsec@1
      inputs:
        version: 'v1.26.0'
    - task: trivy@2
      inputs:
        type: filesystem
        target: '$(System.DefaultWorkingDirectory)/env/dev'
        severity: 'HIGH,CRITICAL'
        version: 'latest'
 # ================= MANUAL VALIDATION STAGE =================

