trigger:
- none

pool: Default

stages:

# ================= BUILD / PRECHECK STAGE =================
- stage: Build
  displayName: "Terraform Precheck"
  jobs:
  - job: precheck
    displayName: "Terraform Init & Plan"
    steps:

    - task: TerraformTask@5
      displayName: "Terraform Init"
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
        backendServiceArm: 'myconnection'
        backendAzureRmResourceGroupName: 'rg-mahesh-11'
        backendAzureRmStorageAccountName: 'maheshstg12'
        backendAzureRmContainerName: 'mahesh'
        backendAzureRmKey: 'dev.tfstate'

    - task: TerraformTask@5
      displayName: "Terraform Plan"
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
        commandOptions: '-out=tfplan'
        environmentServiceNameAzureRM: 'myconnection'

    # ===== INFRACOST INSTALL =====
    - script: |
        curl -fsSL https://raw.githubusercontent.com/infracost/infracost/master/scripts/install.sh | sh
        infracost --version
      displayName: "Install Infracost"

    # ===== INFRACOST COST ESTIMATION =====
    - script: |
        infracost breakdown \
          --path $(System.DefaultWorkingDirectory)/env/dev \
          --terraform-plan-file $(System.DefaultWorkingDirectory)/env/dev/tfplan \
          --format table
      displayName: "Infracost Cost Estimation"
      env:
        INFRACOST_API_KEY: $(INFRACOST_API_KEY)


# ================= SCANNING STAGE =================
- stage: Scanning
  displayName: "Security Scanning"
  dependsOn: Build
  condition: succeeded()
  jobs:
  - job: tfscan
    displayName: "Terraform Security Scan"
    steps:

    - task: tfsec@1
      inputs:
        version: 'v1.26.0'
    - task: trivy@2
      inputs:
        type: filesystem
        target: '$(System.DefaultWorkingDirectory)/env/dev'
        severity: 'HIGH,CRITICAL'
        version: 'latest'
- stage: Approval
  displayName: "Manual Approval Stage"
  dependsOn: Scanning
  condition: succeeded()
  jobs:
  - deployment: ManualApproval    # deployment job
    displayName: "Wait for Approval"
    environment: dev              # existing environment
    pool: server                  # runs on Azure DevOps server
    strategy:
      runOnce:
        deploy:
          steps:
          - task: ManualValidation@0   # latest supported version
            inputs:
              notifyUsers: 'mahesh1tiwari'  # DevOps username
              instructions: 'Please approve this deployment before continuing.'
- stage: terraformApply
  dependsOn: Approval
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))

  jobs:
    - job: Apply
      displayName: "Terraform ApplyJob"
      steps:
      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'init'
          workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
          backendServiceArm: 'myconnection'
          backendAzureRmResourceGroupName: 'rg-mahesh-11'
          backendAzureRmStorageAccountName: 'maheshstg12'
          backendAzureRmContainerName: 'mahesh'
          backendAzureRmKey: 'dev.tfstate'
      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'apply'
          workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
          commandOptions: '-auto-approve'
          environmentServiceNameAzureRM: 'myconnection'

