trigger:
- none

pool: Default

stages:
  - stage: 
    displayName: Build
    jobs:
      - job: precheck
        displayName: precheck
        steps:
        
        - task: TerraformTask@5
          displayName: Terraform init
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
            backendAzureRmUseEntraIdForAuthentication: false
            backendServiceArm: 'myconnection'
            backendAzureRmResourceGroupName: 'rg-mahesh-11'
            backendAzureRmStorageAccountName: 'maheshstg12'
            backendAzureRmContainerName: 'mahesh'
            backendAzureRmKey: 'dev.tfstate'
  
