trigger:
- none

pool: Default

stages:
  - stage: 
    displayName: Build
    jobs:
      - job: precheck
        displayName: precheck
        steps:
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: 'terraform'
        - task: TerraformTask@5
          displayName: Terraform init
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/infracode-Repo/env/dev'
            backendAzureRmUseEntraIdForAuthentication: false
            backendServiceArm: 'myconnection'
            backendAzureRmStorageAccountName: 'maheshstg12'
            backendAzureRmContainerName: 'mahesh'
            backendAzureRmKey: 'dev.tfstate'
  
