trigger:
- main

pool: Default

stages:
  - stage: 
    displayName: Build
    jobs:
      - job: precheck
        displayName: precheck
        steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/infracode-Repo/env/dev'
            backendServiceArm: 'myconnection'
            backendAzureRmStorageAccountName: 'maheshstg12'
            backendAzureRmContainerName: 'mahesh'
            backendAzureRmKey: 'dev.tfstate'
  
